<!-- <div id="outter-div">
<div id="inner-div" *ngIf="member">
    <h2>{{member.name | uppercase}} Details</h2>
    <div><span>id: </span>{{member.id}}</div>
    <div>{{ member.details }}</div>
    <div><img [src]="member.pic"></div>
    <div>
    <label>name:
        <input [(ngModel)]="member.name" placeholder="name"/>
    </label>
    </div>
    <button (click)="goBack()">Go Back</button>
</div>
</div> -->
<button (click)="goBack()">Go Back</button>
<div (click)="onClick()" class="outer-div">

    <div id="member" class="member-detail-view">
        <img [src]="member.pic">
        <h2 class="name">{{ member.name }}</h2>
        <h4 class="rank">Rank</h4>
        <p class="date">{{ member.dob }}-{{ member.dod }}</p>
        <p class="details">
            {{ member.details }}
        </p>
        <p class="electedToHoF">Elected to HoF in {{ member.elected }}</p>
        <p class="sigal">≛</p>
    </div>
</div>