#outer-div {
    width: 100%; 
    text-align: center;
    background-color: #0666a3 
    }
#inner-div {
    display: inline-block; 
    margin: 0 auto;
    padding: 3px;
    background-color: #8ebf42
    }

    .member-detail-view {
        display: grid;
        /*   grid-template-rows: 2fr 1fr 1fr; */
        outline: 2px solid blue;
        margin: 10px 600px 10px 600px;
        text-align: center;
        line-height: 15px;
        align-items: center;
        justify-items: center;
      }
      .member-detail-view > img {
        max-width: 260px;
        max-height: 260px;
        margin-top: 15px;
      }
      .member-detail-view > .name {
        font-size: 250%;
        line-height: 0px;
        margin: 45px 0px 10px 0px;
      }
      .member-detail-view > .rank {
        margin: 20px 0px 0px 0px;
        font-size: 185%;
      }
      .member-detail-view > .date {
        font-size: 150%;
      }
      .member-detail-view > .details {
        margin: 2px 80px;
        font-size: 125%;
        line-height: 150%;
      }
      .member-detail-view > .details {
        font-size: 110%;
      }
      .sigal {
        font-size: 250%;
      }