/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
    /* background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    background-size: 110px 200px;
    background-repeat: repeat-x;  */
    /* background-color: #2a2830;
background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-image: url("assets/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }